.bild{
    height: 40px;
    width: 40px;
    border-radius: 50%;

}

.Nachricht{

background-color: rgb(199, 159, 236);
width: 300px;
border-radius: 5%;


}
.ceren {
    font-size:12px ;
}
#bten{ 
    background-color: rgb(128, 14, 181);
    color: beige;
    border-radius: 25px;
    cursor: pointer;

}
#mishel{width: 225px;}



